.welcomeSection {
    text-align: center;
  }
  
  .subtitle {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .links {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .link {
    color: blue;
    text-decoration: none;
    font-size: 18px;}
  